@media (min-width: 960px) {

    main {
        overflow:hidden;
        height:calc(100% - 140px);
    }

    main > .content {
        height: 100%;
    }

    main > nav {
        float:left;
        height:100%;
        width: 250px;
    }

    main > aside {
        float:right;
        height:100%;
        width: 250px;
    }

    .deck {
        height:50%;
    }

}