<!DOCTYPE html>
<html>
<head>
    <title>Server Error</title>
</head>
<body>
<main>
    <section>
        <h1>An error has occurred</h1>
        <p><%= error %></p>
    </section>
</main>
</body>
</html>